<%= form_for :genre, url: genres_path do |f| %>
	
	<%= f.label :nom %>
	<%= f.text_field :nom %>
	<!--
		<%= f.fields_for :concert do |ff| %>
			<div>
				<%= ff.label :name %>
				<%= ff.text_field :name %>
			</div>
		<% end %>
	-->
	<%= f.submit "Créer" %>
<% end %>

<%= link_to 'Liste des concerts', concerts_path %>
