<h1> Concertiz </h1>

<p>
	<strong> Nom : </strong>
	<%= @concert.name %>

</p>
<p>
	<% if @seance = Seance.find_by(concert_id: @concert.id) %>
	<strong> Artiste : </strong>
	
		<%=	Artiste.find( @seance.artiste_id).nom %>
	<% end %>

</p>
<p>
	<strong> Genre : </strong>
<% 	@genres.each do |genre| %>
	<% 	if @concert.genre_id == genre.id %>
		<%= genre.nom %>

	<% end %>
<% end %>
</p>
<p>
<strong> Seances : </strong> <br/>
<%	@seances.each do |seance| %>
<%		if seance.concert_id == @concert.id %>
<%=			seance.date %>
<%
			@typesplaces.each do |typesplace|
				@places.each do |place|
					if place.typesplace_id == typesplace.id && seance.id == place.seance_id  && place.places > 0%>
<br/><%= 					"Nombre de places en #{typesplace.nom}(#{place.prix} €) : #{place.places} / #{place.nombre_max_places} " %>	

					<% if current_user && place.places > 0 %>	
						<%= form_for :reservation, url: reservations_path do |r| %>
							Nombre de places :
							<%= 	r.text_field :nombre_reservations %><br/>
							<%= 	r.hidden_field(:place_id, :value => place.id) %>
							<%= 	r.hidden_field(:user_id, :value => current_user.id) %>
							<%= 	r.submit "Reserver" %>

	<%					end
					
						elsif   place.places > 0  %>
						<%= form_for :reservation, url: reservations_path do |r| %>

						<%= 	r.submit "Reserver" %>
						<% end
						
					else %>
						<%= "Nombre de places en #{typesplace.nom}(#{place.prix} €) :Complet" %>
<%
					end
				end
			end
		end
	end
end
%>
<% @commentaires.each do |s| %>
	<div>
		
		<p><%= User.find(s.user_id).username %></p>
		<h6><%= s.texte %></h6>
	</div><br><br>
<% end%>

<%= render 'formCommentaire', commentaire: @commentaire %>
