<h1> edit </h1>

<%= form_for :artiste, url: artiste_path(@artiste), method: :patch do |c| %>
	
	<p>
		<%= c.label :nom %><br>
		<%= c.text_field :nom %>
	</p>
	<p>
		<%= c.submit %>
	</p>
	
<% end %>

<%= link_to 'Accueil', concerts_path %>