<p id="notice"><%= notice %></p>

<h1>Utilisateurs</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Voir', user %></td>
        <td><%= link_to 'Editer', edit_user_path(user) %></td>
        <td><%= link_to 'Supprimer', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvel utilisateur', new_user_path %>

<% if logged_in? &&  current_user.isadmin? %>
  <%= "Vous êtes logger" %>
  <%= "Admin Power is On" %>
<% end %>

<% if logged_in?  %>
  <%= "Vous êtes logger en tant qu'#{current_user.username}" %>
<%= session[:user] %>
<% end %>

