<% if logged_in? &&  current_user.isadmin? %>
<ul>
	<li>
		<a href="http://localhost:3000/concerts"> 
			L'index ... C'est par ici !
		</a><br/>
		<a href="http://localhost:3000/new"> 
			Clique ici pour creer un Concert ! 
		</a>
	</li>
</ul>
<% end %>

<% if logged_in?  %>
  <%= "Vous êtes logger en tant qu'#{current_user.username}" %>
  <!-- <%= session[:user] %> -->
<% end %>

<%= test %>
<%= test1 %>
<%= test2 %>
