<h1> edit </h1>

<%= form_for :concert, url: concert_path(@concert), method: :patch do |c| %>
	
	<p>
		<%= c.label :name %>
		<%= c.text_field :name %>
	</p>
	<p>
		<%= c.label :genre %>
		<%= c.select(:genre_id) do %>
		<% 		@genres.each do |c|	%>
		<%=  		content_tag(:option, c.nom, value: c.id) %>
		<% 		end
			end 
		%>
	</p>
	<p>
		<%= c.submit "Valider" %>
	</p>
	
<% end %>

<%= link_to 'Back', concerts_path %>