<h1> edit </h1>

<%= form_for :concert, url: concert_path(@concert), method: patch do |c| %>
	
	<p>
		<%= c.label :name %><br>
		<%= c.text_field :name %>
	</p>
	<p>
		<%= c.label :genre_id %>
		<%= c.text_field :genre_id %>
	</p>
	<p>
		<%= c.submit %>
	</p>
	
<% end %>

<%= link_to 'Back', concert_path %>