<h1> new concert yolo</h1>

<%= form_for :concert, url: concerts_path do |f| %>

	<%= f.label :nom %>
	<%= f.text_field :name %>
	<%= f.select(:genre_id) do %>
	<%		@genres.each do |g| %>
	<%=			content_tag(:option, g.nom, value: g.id) %>
	<%		end
		end
	%>
	<%= f.submit "Créer" %>
<% end %>

<%= link_to 'Liste des concerts', concerts_path %>
