<h1> Concertiz </h1>

<p>
	<strong> Nom : </strong>
	<%= @concert.name %>
	<%= link_to "Edit", edit_concert_path(@concert) %>
	<%= link_to "Destroy", concert_path(@concert),
		method: :delete,
		data: {confirm: "Etes vous sûr ?"}
	%>
</p>
<p>
	<strong> Artiste : </strong>
<%
	@artistes.each do |a|
		if a.id == @seance.artiste_id %>
<%= 		a.nom %>
<%= 		link_to "Edit", edit_artiste_path(a) %>
<%= 		link_to "Destroy", artiste_path(a),
			method: :delete,
			data: {confirm: "Etes vous sûr ?"} %>
<%      end
	end
%>

</p>
<p>
	<strong> Genre : </strong>
<% 	@genres.each do |genre| %>
	<% 	if @concert.genre_id == genre.id %>
		<%= genre.nom %>
		<%= link_to "Edit", edit_genre_path(genre) %>
		<%= link_to "Destroy", genre_path(genre),
			method: :delete,
			data: {confirm: "Etes vous sûr ?"} %> <br/>
	<% end %>
	<% end %>
</p>
<p>
<strong> Seances : </strong> <br/>
<%	@seances.each do |seance| %>
<%		if seance.concert_id == @concert.id %>
<%=			seance.date %>
<%= 		link_to "Edit", edit_seance_path(seance) %>
<%= 		link_to "Destroy", seance_path(seance),
			method: :delete,
			data: {confirm: "Etes vous sûr ?"} %>
<%
			@typesplaces.each do |typesplace|
				@places.each do |place|
					if place.typesplace_id == typesplace.id && seance.id == place.seance_id %>
<br/><%= 					"<br/>Nombre de places en #{typesplace.nom} : #{place.places} / #{place.nombre_max_places} " %>					
			<br/>		
<% 					end
				end
			end
		end
	end 
%>

</p>
<strong> Reserver une ou plusieurs place(s) : </strong> <br/>
<%= form_for :reservation, url: reservations_path do |r| %>

	Nombre de places :
	<%= r.text_field :nombre_reservations %><br/>
	Type de places :
	<%= r.select(:place_id) do %>
	<% 		@typesplaces.each do |t|	
				@places.each do |p|		
					@concerts.each do |c|
						if @concert.id == c.id && c.id == p.concert_id && p.typesplace_id == t.id %>	
		<%= 				content_tag(:option, t.nom, value: p.id) %>
					<%	end %>
				<% 	end %>
			<% 	end %>
		<% 	end
		end%>
		<br/>
	

	<%= r.submit "Créer" %>
<% end %>
