<h1> Reservation N° <%= @reservation.id %></h1>




Concert : 
<%= @concert.name %>
<br/>
Genre :
<%= @genre.nom %>
<br/>
Artiste:
<%= @artiste.nom %>
<br/>
Nombre places :
<%= @reservation.nombre_reservations %>
<br/>
Prix place :
<%= @place.prix %>
<br/>
Total :
<%= @reservation.nombre_reservations * @place.prix %>€
<br/>
<%= link_to 'Accueil', concerts_path %>
